* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header Styling */

header {
  display: flex;
  flex-direction: column;
  padding: 40px 280px 150px 280px;
  background-color: #1f2937;
  gap: 200px;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > h1 {
  font-size: 24px;
  color: #F9FAF8;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links > a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.head-container > .header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 50%;
  height: 300px;
  width: auto;
  text-wrap: wrap;
}

.head-container > img {
  flex-basis: 50%;
  height: 300px;
  width: auto;
}

.header-text > h2 {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-text > p {
  font-size: 18px;
  color: #E5E7EB;
}

.header-text > button {
  padding: 8px 30px;
  border-radius: 10px;
  border-width: 0;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 600;
  font-size: 14px;
}

/* Mid Section content part of the Webpage */

.mid-content {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Top part */

.top-container > h2 {
  text-align: center;
  margin: 60px;
  font-size: 36px;
  font-weight: bold;
}

.picture-row {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.image-placeholder {
  height: 150px;
  width: 150px;
  border: 5px solid #3882F6;
  border-radius: 15px;
}

.image-1,
.image-2,
.image-3,
.image-4{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  text-wrap: wrap;
  text-align: center;
  width: 150px;
}

/* End of top part------------------------------------------------------------- */

/* Start of mid-part */

blockquote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

blockquote > p {
  text-align: center;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1F2937;
  width: 50rem;
}

blockquote > footer {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-self:flex-end;
  width: 50rem;
}

/* End of mid-part-------------------------------------------------------------- */

/* Start of bot-part */

.cta-container {
  margin: 0 280px;
  background-color: #3882F6;
  width: auto;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  border-radius: 10px;
  margin-bottom: 80px;
}

.cta-text > h3 {
  font-size: 24px;
  color: #F9FAF8;
}

.cta-text > p {
  font-size: 18px;
  color: #F9FAF8;
}

.cta-button {
  padding: 8px 30px;
  border-radius: 10px;
  border: 2px solid #F9FAF8;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 600;
  font-size: 14px;
}

/* End of bot-part--------------------------------------------------------------- */


/* Footer Styling */

.wp-footer {
  height: 8vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #F9FAF8;
}